
@font-face {
  font-family: 'VAGRoundedStd-Black';
  src: url('../css/fonts/VAGRoundedStd-Black.eot?#iefix') format('embedded-opentype'),  
       url('../css/fonts/VAGRoundedStd-Black.otf')  format('opentype'),
	   url('../css/fonts/VAGRoundedStd-Black.woff') format('woff'), 
       url('../css/fonts/VAGRoundedStd-Black.ttf')  format('truetype'), 
       url('../css/fonts/VAGRoundedStd-Black.svg#VAGRoundedStd-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url('../css/fonts/VAGRoundedStd-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../css/fonts/VAGRoundedStd-Bold.otf')  format('opentype'),
	   url('../css/fonts/VAGRoundedStd-Bold.woff') format('woff'), 
       url('../css/fonts/VAGRoundedStd-Bold.ttf')  format('truetype'), 
       url('../css/fonts/VAGRoundedStd-Bold.svg#VAGRoundedStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VAGRoundedStd-Light';
  src: url('../css/fonts/VAGRoundedStd-Light.eot?#iefix') format('embedded-opentype'),  
       url('../css/fonts/VAGRoundedStd-Light.otf')  format('opentype'),
	   url('../css/fonts/VAGRoundedStd-Light.woff') format('woff'), 
       url('../css/fonts/VAGRoundedStd-Light.ttf')  format('truetype'), 
       url('../css/fonts/VAGRoundedStd-Light.svg#VAGRoundedStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VAGRoundedStd-Thin';
  src: url('../css/fonts/VAGRoundedStd-Thin.eot?#iefix') format('embedded-opentype'),  
       url('../css/fonts/VAGRoundedStd-Thin.otf')  format('opentype'),
	   url('../css/fonts/VAGRoundedStd-Thin.woff') format('woff'), 
       url('../css/fonts/VAGRoundedStd-Thin.ttf')  format('truetype'), 
       url('../css/fonts/VAGRoundedStd-Thin.svg#VAGRoundedStd-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
	font-family: 'Conv_Gobold Extra2';
	src: url('/css/fonts/Gobold Extra2.eot');
	src: local('☺'), 
      url('../css/fonts/Gobold Extra2.woff') format('woff'), 
      url('../css/fonts/Gobold Extra2.ttf') format('truetype'), 
      url('../css/fonts/Gobold Extra2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTCom-Roman';
  src: url('../css/fonts/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'),  
      url('../css/fonts/HelveticaNeueLTCom-Roman.woff') format('woff'), 
      url('../css/fonts/HelveticaNeueLTCom-Roman.ttf')  format('truetype'), 
      url('../css/fonts/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTCom-Blk';
  src: url('../css/fonts/HelveticaNeueLTCom-Blk.eot?#iefix') format('embedded-opentype'),  
      url('../css/fonts/HelveticaNeueLTCom-Blk.woff') format('woff'), 
      url('../css/fonts/HelveticaNeueLTCom-Blk.ttf')  format('truetype'), 
      url('../css/fonts/HelveticaNeueLTCom-Blk.svg#HelveticaNeueLTCom-Blk') format('svg');
  font-weight: normal;
  font-style: normal;
}