@import url('fonts.css');
@-ms-viewport{ width: device-width; } 
@-o-viewport { width: device-width; } 
@viewport { width: device-width; }

body {
  font-family: 'VAGRoundedStd-Light';
  color:#000;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*css loguin*/
.contenedor_loguin{
  background: #f1fbf6;
  margin-top: 8%;
  min-width: 700px;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_loguin{
  width: 91%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: -4%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tm_contenedor{
  width: 55%;
}
.tm_contenedor_datos{
  width: 45%;
}
.css_logo{
  width: 45%;
  margin-top: 17%;
  margin-left: -4%;
}
.font_texto{
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 2%;
  color:#13653f;
  text-align: center;
}
.datos_fom {
  background: transparent;
  border: 0px;
  width: 65%;
  display: block;
  font-size: 18px;
  height: 33px;
  color:#13653f;
}
.linea {
  height: 1px;
  margin-left: 8%;
  width: 72%;
  background: #6abb95;
}
.margen_top{
  margin-top: 3%;
}
#btn_ingresar{
  width: 200px;
  margin-top: 7%;
  height: 40px;
  border-radius: 4px;
  color:#fff;
  text-align: center;
  padding-top: 2%;
  background-image: linear-gradient(#198754, #198754,#0f5132);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contenedor_input{
  margin-left: 12%;
  border-radius: 4px;
}
/*pop up*/
.fondo_block{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);   
  color: white;
  z-index: 1001;
}
.img_cargando{
  position: absolute;
  top:20%;
  left: 45%;
  width: 10%
}
/*ventana emergente*/
.popup {
  position: fixed;
  top: 35%;
  left: 38%;  
  background: #dee2e6;
  border-radius: 8px;
  display: none;
  width: 335px;
  min-height: 163px;
  z-index: 1001;
}
.content-popup {
  padding:20px;
}
.popup-overlay, .overlay_alerta {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);   
  color: white;
  display: none;
}
#btn_cerrar {
  background: url('../img/btn_cerrar.png') top left no-repeat;
  position: absolute;
  right: 18px;
  top: 13px;
  width: 22px;
  height: 21px;
  cursor: pointer;
}
#texto_mensaje{
  margin-top: 15%;
  text-align: center;
  width: 98%;
  color: #000;
}
.popup_alerta {
  position: fixed;
  top: 17%;
  background: #dee2e6;
  border-radius: 8px;
  display: block;
  border-radius: 6px;
  width: 550px;
  min-height: 390px;
  z-index: 1001;
}
.content-popup_alerta {
  padding-top: 20px;
  margin-bottom: 20px;
}
.overlay_alerta {
  display: block;
}
/***estilos del home***/
.cabecera{
  background: linear-gradient(to right,#008e76 100px,#0c3f36 700px);
  width: 100%;
  height: 110px;
}
.css_usuario{
  padding-top: 2%;
  margin-left: 1%;
}
.tm_usuario{
  width: 300px;
}
.css_datos_usuario{
  margin-top: 3%;
  margin-left: 1%;
}
.texto_usuario{
  font-size: 12px;
  color: white;
}
.texto_rol{
  color: white;
}
.logo_home{
  position: absolute;
  top: 1%;
  right: 1%;
  width: 100px;
}
.contenedor_menu{
  position: absolute;
  margin-top: -1%;
  right: 8%;
}
.css_inicio{
  width: 160px;
  text-align: center;
  color: white;
}
a{
  outline: none;
  text-decoration: none;
}
a:hover{
  color:#6abb95;
}
.espacio_cabecera{
  padding-top: 3%;
}
.espacio{
  padding-top: 2%;
}
.fondo_central{
  background: linear-gradient(to bottom, #d5d9d8, #fff, #d8d9db);
  width: 100%;
  min-height: 400px;
} 
.fondo{
  background: white;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 300px;
  
}
.css_tabla{
  padding-top: 0.5%;
  padding-bottom:  0.5%;
  color: #000;
  background: #ffe786;
  width: 99%;
  margin-left: 0.5%;
}
.css_row, .css_advertencia{
  padding-top: 1%;
  padding-bottom: 1%;
  background: #dbe7e1;
  color: #055160;
  width: 99%;
  margin-bottom: 3px;
  margin-left: 0.5%;
}
.css_advertencia{
  background: #e3aaaf;
  color: #760505;
}
.left{
  float: left;
}
.right{
  float: right;
}
.cerrar_sesion{
  margin-top: 1%;
  color: #c1c609;
  font-size: 14px;
  margin-left: 4%;
}
.img_cabecera{
  position: absolute;
}
.container-fluid {
  padding-right: 0px; 
  padding-left:  0px; 
}
.btn_detalle{
  color: #f3c53a;
}
/****Estilos pestañas home****/
.tm_opciones{
  margin-left: 2%;
  min-width: 90px;
  width: 29%;
}
.tab_home{
  min-width: 12px;
  background: #b7b7b6;
  color: #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 21px;
  margin-right: 2px;
  height: 40px;
  padding-top: 11px;
  min-width: 90px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10%), 0 6px 20px 0 rgba(0, 0, 0, 1%);
}
.tab_home:hover{
  color: black;
}
.tab_home_sel{
  color: #198754;
  background: #f8f9fa;
}
.tab_home_sel:hover {
  color: #000;
  background: #fff;
}
.fondo_tab{
  background: #fff;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 450px;
}
.btn_opciones{
  width: 59%;
  border-radius: 10px;
  border: 1px solid #0c3f36;
  color:#0f5132;
  padding: 7px;
  background: white;
  font-size: 13px;
  -webkit-box-shadow: 4px 7px 6px -6px #41464b;
  -moz-box-shadow: 4px 7px 6px -6px #41464b;
  box-shadow: 4px 7px 6px -6px #41464b;
}
.img_alerta{
  margin-top: -8%;
}
.alerta_roja, .alerta_lila, .alerta_naranja{
  width: 98%;
  margin-bottom: 6px;
  margin-left: -2%;
  background: #d7061a;
  color: #edd1d4;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  font-size: 12px;
  box-shadow: 2px -1px 3px 0px #979091; 
  transition: margin-left 2s;
}
.alerta_lila{
  box-shadow: 2px -1px 3px 0px #bc83e7;
  background: #924dc7;
  color: #d8ace3;
}
.alerta_naranja{
  box-shadow: 2px -1px 3px 0px #c17036;
  background: #dfa651;
  color: #b53302;
}
.texto_alerta{
  margin-left: 4%;
  padding-top: 1.5%;
}
.texto_tiempo{
  margin-left: 4%;
  margin-bottom: 1%;
}
.alerta_roja:hover {
  margin-left: 3px;
}
.css_alerta{
  width: 28px;
}
.alertas{
  position: absolute;
  right: 3%;
  top: 15%;
  color:#278972;
}
/*Paginador*/
.btn_paginacion{
  color: #343a40;
  background: #dee2e6;
  cursor: pointer;
}
.paginacion_actual{
  color:#055160;
  background: #ffd400;
  cursor: pointer;
}
.css_paginacion{
  border-radius: 4px;
  text-align: center;
  margin-left: 1%;
  min-width: 36px;
  margin-bottom: 2px;
}
.css_sig{
  color:#198754;
  text-shadow: 0.1px 0px #7e062f;
  margin-left: 1%;
  background: transparent;
}
.css_anterior{
  color:#198754;
  text-shadow: 0.1px 0px #7e062f;
  margin-right: 1%;
  background: transparent;
}
.contenedor_paginacion{
  padding-bottom: 1%;
  min-height: 34px;
  margin-left: -2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*fin paginacion*/
.dropzone {
  background: #ebeff3;    
  border: 2px solid white;
}
.dropzone .dz-preview.dz-image-preview {
  background: transparent ;
}
.cursor{
  cursor: pointer;
}
/**estilos nuevo informe***/
.fondo_paginas{
  background: #eee;
  width: 100%;
  min-height: 300px;
}
.bg_card{
  background: #fff;
}
.font_titulo{
  color:#545658;
}
.font_dato, .font_datos{
  color:#545658;
  width: 73px;
}
.font_datos{
  width: 93px;
}
.input-group-addon {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.margen_left{
  margin-left: 5%;
}
.radio{
  display: inline;
 position: relative;
 top: 5px;
 height: 23px;
 width: 30px;
 border-radius: 100%;
}
.fotos_informe{
  width: 15%;
}
.input_form{
  display: inline;
  width: 83%;
}
.input_form_detalle{
  display: inline;
  width: 91.5%;
}
.css_btn{
  width: 150px;
  height: 40px;
  border-radius: 4px;
  color:#fff;
  text-align: center;
  padding-top: 9px;
  background-image: linear-gradient(#198754, #198754,#0f5132);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.color_plomo{
  color:#545658;
}
.color_verde{
  color:#278972;
}
.buscador{
  padding-top: 1%;
  margin-left: 1%;
  color: #008e76;
  margin-bottom: 1%;
}
/**********Estilos pagina detalle informe**********************/
#scroll_fotos{
  width: 100%;
  height: 150px;
}
.fotos{
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 28%;
}
/************Estilos pagina reportes**************/
.contenedor_reportes{
  width: 80%;
  padding-top: 2%;
  margin-left: 4%;
}
.contenedor_datos_reporte{
  margin-left: 5%;
  margin-right: 5%;
}
/********Estilos del pie de pagina***********/
.fondo_pie_pagina{
  background: #0d3f36;
  width: 100%;
  min-height: 75px;
}
.css_linea{
  width: 100%;
  height: 2px;
  background: #6abb95;
}
.font_redes{
  margin-top: 8%;
  color:#6abb95;
  font-size: 13px;
}
.font_derechos_empresa{
  color:#6abb95;
  margin-bottom: 1%;
  margin-top: 2%;
  font-size: 13px;
}
/****************Estilos pagina notificacion*************/
.fila_no_vista{
  background: #e3aaaf;
  color: #760505;
}
.fila_vista{
  background: #f3f3f3;
  color: #055160;
}
.pointer{
  cursor: pointer;
}